{% extends 'gestion/base.html' %} {% block contenido %}
<div class="container">
  <div class="card-form">
    <h2>{{ titulo }}</h2>
    <form method="post">
      {% csrf_token %} {% for field in form %}
      <label>{{ field.label_tag }}</label>
      {{ field }} {% if field.errors %}
      <div style="color: red">{{ field.errors }}</div>
      {% endif %} {% endfor %}
      <button class="btn btn-success" type="submit">Guardar</button>
      <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
